**/.ipynb_checkpoints/*
*.mp4
*.pyc
src/media/*
!src/media/Readme.md
src/pretrained/*
!src/pretrained/Readme.md
src/logs/*
!src/logs/Readme.md
src/data/output/disparities.npy
src/data/output/disparities_pp.npy
