**/.ipynb_checkpoints/*
*.mp4
*.pyc

src/media/*
!src/media/Readme.md
!src/media/001_L.png
!src/media/165_R.png
!src/media/init.png

src/pretrained/*
!src/pretrained/Readme.md
src/logs/*
!src/logs/Readme.md
src/frame/*
!src/frame/placeholder.txt
src/frame2/*
src/frame*/*
src/bbox.png
src/tensorboard/*
src/data/output/disparities.npy
src/data/output/disparities_pp.npy
